<section class="container">

    <!--event biding form, (ngSubmit)-->
    <form class="form" (ngSubmit)="transfer()">
        
        <h2 class="form__title">New Transfer</h2>

        <div class="form-field">
            <label class="form-field__label" for="value">Value</label>
            <input class="form-field__input" id="value" type="number"
              [(ngModel)]="value" name="value"/>
              <!--[()] is the 2 way data biding with a component attribute-->
              <!--() event data biding with a component attribute. From template to component-->
              <!--[] property data biding with a component attribute. From component to template-->
        </div>

        <div class="form-field">
            <label class="form-field__label" for="destination">Destination</label>
            <input class="form-field__input" id="destination" type="text" 
              [(ngModel)]="destination" name="destination"/>
        </div>

        <div class="btt-wrapper">
            <button class="btt" type="submit">Transfer</button>
        </div>

    </form>
</section>